<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profile/show.css" />
<%- include('../partials/nav') %>

<main>
  <div class="profile">
    <div>
      <img
        src="<%= profile.avatar %>"
        alt="<%= profile.name %> avatar"
      />
    </div>
    <% if (user.profile.equals(profile)) { %>
      <h1 class="name">Hello, <%= profile.name %></h1>
      <% } else { %>
        <h1 class="name"><%= profile.name %>'s Profile</h1>
    <% } %>
  </div>
  <section class="profile-details">
    
    <section class="favoriteplayers">
        <% if (profile.favoriteplayer.length) { %>
          <ul>
            <h1 class="players-header">Favorite Players</h1>
            <% profile.favoriteplayer.forEach(player => { %>
              <section class="player-container"
              onclick="this.classList.toggle('expanded')">
              <svg class="label"  height="200px" width="200px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#000000;} </style> <g> <path class="st0" d="M442.277,402.054c-12.587-18.847-31.702-29.258-49.647-36.027c-9.006-3.394-17.82-5.888-25.574-8.008 c-7.726-2.108-14.474-3.884-18.992-5.584c-7.905-2.94-16.278-6.749-22.104-10.845c-2.919-2.032-5.164-4.125-6.459-5.908 c-1.322-1.825-1.68-3.085-1.68-4.187c0-7.615,0-17.118,0-29.65c10.122-11.266,24.665-28.722,30.628-56.389 c2.094-0.944,4.159-2.004,6.142-3.395c4.958-3.415,9.158-8.373,12.711-15.121c3.595-6.776,6.762-15.438,10.15-27.289 c1.708-6.011,2.507-11.224,2.507-15.879c0.013-5.35-1.102-10.005-3.126-13.778c-2.658-5.006-6.735-7.988-10.384-9.64 c1.391-6.934,2.314-13.965,2.934-20.988c0.798-1.088,1.35-2.369,1.35-3.732V86.274c0-1.673-0.675-3.306-1.859-4.49 c-0.772-0.764-1.75-1.226-2.782-1.515c-6.473-31.289-19.914-54.853-35.545-57.462c-65.815-51.706-108.122,2.355-173.924-9.399 c-10.522,17.518-14.461,42.858-15.328,67.757c-0.303,0.214-0.661,0.351-0.923,0.62c-1.184,1.184-1.859,2.816-1.859,4.49v49.358 c0,1.666,0.675,3.305,1.859,4.49c0.992,0.991,2.342,1.536,3.732,1.708c0.936,8.015,1.86,14.364,2.465,18.11 c-1.184,0.454-2.382,0.977-3.663,1.756c-2.851,1.763-5.742,4.517-7.753,8.297c-2.024,3.774-3.127,8.429-3.112,13.786 c0,4.648,0.785,9.867,2.506,15.872c4.53,15.783,8.621,25.974,13.923,33.445c2.644,3.718,5.647,6.7,8.924,8.965 c1.997,1.391,4.063,2.452,6.142,3.395c5.976,27.667,20.52,45.123,30.642,56.389c0,12.532,0,22.035,0,29.65 c0,0.937-0.372,2.286-1.818,4.214c-2.135,2.864-6.542,6.335-11.775,9.275c-5.233,2.975-11.252,5.544-16.512,7.402 c-6.17,2.19-16.126,4.462-27.268,7.664c-16.761,4.841-36.55,11.823-52.677,25.636c-8.029,6.914-15.094,15.59-20.066,26.373 c-4.972,10.776-7.822,23.578-7.809,38.568c0,3.478,0.152,7.072,0.455,10.79c0.234,2.603,1.225,4.724,2.382,6.473 c2.231,3.25,5.164,5.674,8.856,8.16c6.445,4.269,15.383,8.442,26.827,12.539C129.025,500.804,185.736,511.987,256,512 c57.084,0,105.272-7.409,139.674-16.718c17.214-4.669,30.944-9.771,40.874-14.874c4.972-2.576,8.993-5.109,12.188-7.892 c1.584-1.404,2.988-2.878,4.173-4.627c1.156-1.75,2.148-3.87,2.382-6.473c0.303-3.718,0.455-7.298,0.455-10.769 C455.773,430.678,450.637,414.578,442.277,402.054z M151.197,92.616h206.852v36.667H151.197V92.616z M177.831,238.479l-0.785-4.441 l-4.242-1.515c-2.699-0.964-4.751-1.949-6.542-3.195c-2.658-1.873-5.068-4.428-7.877-9.661c-2.768-5.206-5.715-12.987-8.924-24.273 c-1.405-4.937-1.914-8.766-1.914-11.617c0.014-3.312,0.634-5.247,1.294-6.466c0.978-1.776,2.162-2.533,3.691-3.147 c1.226-0.468,2.506-0.592,3.03-0.62l6.363,0.793c6.335,8.862,11.142,20.051,11.142,20.051v-49.358c0,0,4.958-1.15,12.559-3.05 h152.523c1.129,0.441,1.804,0.695,1.804,0.695l4.696,39.959c0,0,6.528-4.359,12.34-9.034c0.978,0.11,2.672,0.454,3.898,1.266 c0.895,0.565,1.611,1.226,2.272,2.444c0.648,1.219,1.281,3.154,1.295,6.459c0,2.858-0.509,6.687-1.914,11.624 c-4.283,15.059-8.111,23.825-11.636,28.686c-1.75,2.459-3.375,3.994-5.165,5.248c-1.79,1.246-3.856,2.231-6.555,3.195l-4.242,1.515 l-0.785,4.441c-4.958,27.792-19.28,43.43-29.857,55.211l-1.997,2.211v2.981c0,14.102,0,24.383,0,32.612 c0,5.109,1.983,9.709,4.709,13.38c3.154,4.242,7.272,7.629,11.816,10.597c-4.792,4.82-11.1,8.849-19.06,11.913 c-10.535,4.063-23.88,6.342-39.732,6.335c-15.851,0.007-29.21-2.272-39.731-6.335c-9.929-3.822-17.215-9.186-22.256-15.666 c2.452-2.004,4.765-4.138,6.666-6.631c2.81-3.692,4.972-8.318,4.986-13.593c0-8.229,0-18.509,0-32.612v-2.974l-1.997-2.218 C197.126,281.908,182.803,266.27,177.831,238.479z M439.853,459.42l-0.675,0.799c-1.143,1.157-3.443,2.892-6.693,4.744 c-6.101,3.533-15.479,7.486-27.434,11.341v-25.726h-12.697v29.499c-7.382,2.024-15.411,3.974-24.17,5.757 c-30.339,6.211-68.583,10.659-112.184,10.659c-54.316,0-100.245-6.927-132.994-15.52v-30.395h-12.697v26.814 c-11.679-3.601-21.099-7.34-27.751-10.776c-4.228-2.169-7.34-4.235-9.061-5.764c-0.731-0.633-1.143-1.116-1.35-1.398 c-0.248-3.064-0.386-6.018-0.386-8.828c0.028-17.414,4.283-30.125,10.866-40.096c9.833-14.907,25.629-24.024,42.128-30.236 c8.222-3.105,16.54-5.46,24.17-7.498c7.643-2.059,14.557-3.76,20.314-5.785c5.756-2.038,12.188-4.764,18.275-8.16 c6.707,8.918,16.306,15.803,28.232,20.382c12.38,4.759,27.24,7.175,44.29,7.182c17.05-0.007,31.909-2.424,44.29-7.182 c10.618-4.083,19.322-10.053,25.85-17.593c4.158,1.969,8.36,3.794,12.449,5.323c7.685,2.851,17.476,5.096,28.177,8.215 c16.031,4.627,33.727,11.141,46.92,22.454c6.61,5.661,12.147,12.457,16.113,21.009c3.966,8.566,6.39,18.964,6.404,32.006 C440.239,453.443,440.087,456.383,439.853,459.42z"></path> </g> </g></svg>
              <div class="text1">
                <li>
                  <div class="text-content">
                    <h2 class="player-name"><%= player.name %></h2>
                    <div class="body-text">
                      <p><%= `${player.name} is a ${player.sport} player` %></p>
                      <p><%= `They are ${player.age} years old and play for ${player.team}` %></p>
                      <% if (isSelf) { %>
                        <a href="/profile/<%= user.profile._id %>/favoriteplayer/<%= player._id %>/edit">
                          <button>edit</button>
                        </a>
                        <form action="/profile/<%= user.profile._id %>/favoriteplayer/<%= player._id %>/?_method=DELETE" method="POST">
                          <button type="submit">X</button>
                        </form>
                      <% } %>
                    </div>
                  </div>
                </li>
              </div>
            </section>
              <% }) %>
            </ul>
            <div class="addplayers-button">
              <a href="/profile/<%= user.profile._id %>/favoriteplayer"><button>Add more favorite players</button></a>
            <% } else { %>
              <h2>No favorite players added</h2>
              <% if (isSelf) { %>
                <a href="/profile/<%= user.profile._id %>/favoriteplayer"><button>Add favorite players</button></a>              
              <% } %>
            <% } %>
            </div>
    </section>
    <section class="favoriteteams">

      <% if (profile.favoriteteam.length) { %>
        <ul>
          <h1 class="team-header">Favorite Teams</h1>
          <% profile.favoriteteam.forEach(team => { %>
            <section class="team-container"
            onclick="this.classList.toggle('expanded')">
            <svg class="label" fill="#000000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>double-team</title> <path d="M15.474 1.384c-1.851 0.24-3.295 2.252-3.295 4.679 0 1.344 0.461 2.545 1.171 3.401-3.849 0.723-4.14 7.203-4.14 11.753h2.669l0.708 9.494h6.781l0.626-9.494h2.533c0-4.562 0.092-11.156-4.112-11.807 0.68-0.852 1.117-2.035 1.117-3.346 0-2.589-1.65-4.679-3.677-4.679-0.127 0-0.258-0.016-0.381 0l0-0zM21.163 1.355c2.027 0 3.681 2.075 3.681 4.665 0 1.311-0.45 2.501-1.13 3.353 4.204 0.651 4.118 7.245 4.118 11.807h-2.514l-0.656 9.511h-3.936l0.619-9.511h2.551c0-4.562 0.086-11.156-4.118-11.807 0.68-0.851 1.13-2.041 1.13-3.353 0-1.662-0.69-3.106-1.713-3.936 0.472-0.389 0.98-0.653 1.567-0.729 0.123-0.016 0.274 0 0.401 0zM12.542 2.084c-1.017 0.838-1.713 2.278-1.713 3.936 0 1.345 0.456 2.57 1.166 3.426-3.849 0.723-4.118 7.185-4.118 11.734h2.66l0.692 9.511h-3.936l-0.692-9.511h-2.697c0-4.549 0.306-11.011 4.154-11.734-0.71-0.856-1.166-2.081-1.166-3.426 0-2.427 1.429-4.424 3.28-4.665 0.123-0.016 0.274 0 0.401 0 0.726 0 1.397 0.266 1.968 0.729z"></path> </g></svg>
            <div class="text2">
              <li>
                <div class="text-content">
                  <h2 class="team-name"><%= team.name %></h2>
                  <div class="body-text">
                    <p><%= `${team.name} is a ${team.sport} team` %></p>
                    <p><%= `Their Achievements: ${team.achievements}` %></p>
                    <p><%= `Their Top Players: ${team.topPlayers}` %></p>
                      <% if (isSelf) { %>
                        <a href="/profile/<%= user.profile._id %>/favoriteteam/<%= team._id %>/edit">
                          <button>edit</button>
                        </a>
                        <form action="/profile/<%= user.profile._id %>/favoriteteam/<%= team._id %>/?_method=DELETE" method="POST">
                          <button type="submit">X</button>
                        </form>
                        <% } %>
                  </div>
                </div>
              </li>
            </div>
          </section>
          <% }) %>
        </ul>
        <div class="addteams-button">
        <a href="/profile/<%= user.profile._id %>/favoriteteam"><button>Add more favorite teams</button></a>
      <% } else { %>
        <h2>No favorite teams added</h2>
        <% if (isSelf) { %>
          <a href="/profile/<%= user.profile._id %>/favoriteteam"><button>Add favorite teams</button></a>         
        <% } %>
      <% } %>
        </div>
    </section>
  </section>
</main>

<%- include('../partials/footer') %>