<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profile/playerform.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1 class="edit title"><%= title %></h1>
    <form class="edit-form" action="/profile/<%= user.profile._id %>/favoriteteam/<%= team._id %>?_method=PUT" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" value="<%= team.name %>">
    <label for="sport">Sport:</label>
    <input type="text" name="sport" id="sport-input" value="<%= team.sport %>">
    <label for="achievements">Achievements:</label>
    <input type="text" name="achievements" id="achievements" value="<%= team.achievements %>">
    <label for="topPlayers-input">TopPlayers:</label>
    <input type="text" name="topPlayers" id="TopPlayers-input" value="<%= team.topPlayers %>">
    <button type="submit">Update Team</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>