<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <div class="container">
    <div class="items">
      <div class="project-name">
        <p>LIVE SCORES</p>
      </div>
    </div>
    <div class="items">
      <div class="project-name">
        <p>LEAUGES</p>
      </div>
    </div>
    <div class="items">
      <div class="project-name">
        <p>PLAYER STATS</p>
      </div>
    </div>  
  </div>
</main>

<%- include('./partials/footer') %>
