<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } %>
    <section class="post-form">
      <% if (user) { %>
        <h2>Add a post</h2>
        <form action="/posts" method="POST">
          <textarea name="content" id="textbox" cols="30" rows="10">Enter text here</textarea>
          <button type="submit"> Post </button>
        </form>     
      <% } %>
    </section>
    <section class="post-container">
    <h2>Posts</h2>
    <ul>
      <% posts.forEach(post => { %>
        <li class="post">
          <h3>
            <a href="/profile/<%= post.author.id %>">
              <img class="post author"
                src="<%= post.author.avatar %>"
                alt="<%= post.author.name %> avatar"
              />
            </a>
          </h3>
          <p><%= post.content %> @ <small><%= post.author.name %></small></p>
          <div class="post-buttons"> 
            <button id="replies-btn" type="button"><a href="/posts/<%= post._id %>">See all replies</a></button>
            <% if (post.author.equals(user?.profile._id)) { %>
              <a href="/posts/<%= post._id %>/edit"><button >edit</button></a>
              <form action="/posts/<%= post._id %>?_method=DELETE"method='POST'>
                <button type="submit">X</button>
              </form>
            <% } %>
          </div>
        </li>
      <% }) %>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>
