<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/show.css" />
<%- include('../partials/nav') %>

<main>
  <div class="post-reply-container">
    <div class="container d-flex justify-content-center mt-100 mb-100">
      <div class="row">
        <div class="col-md-12">
          <section class="card">
            <section class="post">
              <div class="header"><img class="post-author"
                src="<%= post.author.avatar %>"
                alt="<%= post.author.name %> avatar"
                />
                <h5 class="author"><%= post.author.name %></h5>
                <h6 class="time"><%= `${post.createdAt.toLocaleDateString()} ${post.createdAt.toLocaleTimeString()}` %></h6>
            </div>
              <p><%= post.content %></p>
            </section>
            <section class="reply-form">
              <% if (user) { %>
                <form action="/posts/<%= post._id %>/replies" method="POST">
                  <textarea name="content" id="textbox" cols="30" rows="10">Enter Reply here</textarea>
                  <button class="post-button" type="submit"><span>Post Reply</span><svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
                    <path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0"/>
                  </svg></button>
                </form>
              <% } %>
            </section>
            <% if (post.replies.length) { %>
              <section class="reply-container">
                <div class="card-body">
                  <h4 class="card-title">Recent replies</h4>
                </div>
                  <div class="comment-widgets m-b-20">
                    <% post.replies.forEach(reply => { %>
                      <div class="d-flex flex-row comment-row">
                          <div class="p-2"><span class="round"><img src="<%= reply.author.avatar %>" alt="<%= reply.author.name %>" width="50"></span>
                          </div>
                          <div class="comment-text w-100">
                            <h5 class="author"><%= reply.author.name %></h5>
                            <div class="comment-footer">
                              <span class="date"><%= `${reply.createdAt.toLocaleDateString()} ${reply.createdAt.toLocaleTimeString()}` %></span>
                              <span class="action-icons">                  
                                <button><i class="fa fa-heart"></i></button>
                            <% if (reply.author.equals(user?.profile._id)) { %>
                              <section class="reply-buttons">
                                <a href="/posts/<%= post._id %>/replies/<%= reply._id %>/edit"><i class="fa fa-pencil"></i></a>
                                <form action="/posts/<%= post._id %>/replies/<%= reply._id %>/?_method=DELETE" method="POST">
                                  <button type="submit">X</button>
                                </form>
                              </section>
                              <% } %>
                            </span>
                            <p class="m-b-5 m-t-10"><%= reply.content %></p>
                            </div>
                          </div>
                      </div>
                      <% }) %>
                      <% } else { %>
                        <h3>Be the first to reply</h2>
                          <% } %>    
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>