<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/show.css" />
<%- include('../partials/nav') %>

<main>
  <div class="post-reply-container">
    <section class="post">
      <h3><img class="post author"
        src="<%= post.author.avatar %>"
        alt="<%= post.author.name %> avatar"
      /></h3>
      <p><%= post.content %> - <%= post.author.name %></p>
    </section>
    <section>
      <% if (user) { %>
        <form action="/posts/<%= post._id %>/replies" method="POST">
          <textarea name="content" id="textbox" cols="30" rows="10">Enter Reply here</textarea>
          <button type="submit">Post Reply</button>
        </form>
      <% } %>
    </section>
    <section>
      <% if (post.replies.length) { %>
        <ul>
          <% post.replies.forEach(reply => { %>
            <li class="reply-container">
              <h3><%= reply.author.name %></h3>
              <p><%= reply.content %></p>
              <% if (reply.author.equals(user?.profile._id)) { %>
                <section class="reply-buttons">
                  <a href="/posts/<%= post._id %>/replies/<%= reply._id %>/edit"><button>edit</button></a>
                  <form action="/posts/<%= post._id %>/replies/<%= reply._id %>/?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                  </form>
                </section>
              <% } %>
            </li>
          <% }) %>
        </ul>
      <% } else { %>
        <h3>Be the first to reply</h2>
      <% } %>    
    </section>
  </div>
</main>

<%- include('../partials/footer') %>