<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profile/playerform.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1><%= title %></h1>
    <form class="edit-form" action="/profile/<%= user.profile._id %>/favoriteplayer/<%= player._id %>/?_method=PUT" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input" value="<%= player.name %>">
    <label for="sport">Sport:</label>
    <input type="text" name="sport" id="sport-input" value="<%= player.sport %>">
    <label for="age-input">Age:</label>
    <input type="number" name="age" id="age-input" value="<%= player.age %>">
    <label for="team-input">Team:</label>
    <input type="text" name="team" id="team-input" value="<%= player.team %>">
    <button type="submit">Update Player</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>
